@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;700&family=Poppins:ital,wght@0,300;0,600;0,700;0,800;1,300&family=Rubik:wght@400;500&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  scroll-behavior: smooth;
  font-family: "Rubik";
}
.nav-item-link {
  font-weight: 500;
  cursor: pointer;
  transition: 0.3s;
  text-transform: uppercase;
}
.nav-item-link:hover {
  color: hsl(0, 94%, 66%);
}
.btn {
  background-color: hsl(0, 94%, 66%);
  padding: 0.5rem 2rem;
  text-transform: uppercase;
  font-size: 18px;
  font-weight: 500;
}
.btn:hover {
  color: hsl(0, 94%, 66%);
}
.bg-dark {
  background-color: hsl(229, 31%, 21%);
}
